<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iron Yard Front End Boilerplate</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="css/main.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css" >
  </head>
  <body>
    <header>
  <section class="headWrapper">

  <a class="homeLink" href="https://github.com/"><span class="mega-octicon octicon-mark-github"></span></a>
  <input class="searchBar" type="text" name="name" placeholder="Search Github" value="">
  <nav class="nav1">
    <a href="https://github.com/pulls">Pull requests</a>
    <a href="file:///Users/Hambloko/dev/homework/week4/tuesday/index.html#">Issues</a>
    <a href="https://gist.github.com/">Gist</a>
  </nav>
  <nav class="nav2">
    <a class="bell" href="#"><span class="mega-octicon octicon-bell"></span></a>
    <a class="plus" href="#"><span class="mega-octicon octicon-plus"></span><span class="mega-octicon octicon-triangle-down"></span></a>
    <a class="profileNav" href="#"><img class="av2"><span class="mega-octicon octicon-triangle-down"></span></a>
  </nav>
  </section>
</header>
<main>
  <aside class="profileInfo">
    <div id="avatarItem"></div>
    <span class="userName"></span>
    <div class="joinDate">
      <span class="octicon octicon-clock"><span class="date">Joined on </span></span>
    </div>
      <div class="popCount">
        <a class="followers" href="#">
          <strong class="vcardfol"></strong>
          <span class="spanFol">Followers</span>
        </a>
        <a class="starred" href="#">
          <strong class="vcardstar"></strong>
          <span class="spanStar">Starred</span>
        </a>
        <a class="following" href="#">
          <strong class="vcardfoling"></strong>
          <span class="spanFoling">Following</span>
        </a>
      </div>
      <div class="orgBox">
        <h3>Organizations</h3>
      </div>
  </aside>
  <section class="main">
    <div class="tabnavigation">
      <a class=repoTab href="#">
        <span class="octicon octicon-repo"></span>
        Repositories
      </a>
    </div>
    <div class="repoSearch">
      <input class="searchBar2" type="text" name="name" value="" placeholder="Find a repository...">
      <input class ="searchButton" type="button" name="name" value="Search">
      <div class="searchNarrow">
        <a href="#">All</a>
        <a href="#">Public</a>
        <a href="#">Private</a>
        <a href="#">Sources</a>
        <a href="#">Forks</a>
        <a href="#">Mirrors</a>
        <a class="new" href="#"><span class="octicon octicon-repo"></span>New</a>
      </div>
    </div>
    <div class="repoList">

    </div>
  </section>
</main>
  <script type="text/template" id="repositoryList">
    <article class="repo">
      <a class="repoLink" href=""><%= name %></a>
      <div class="repoStats">
      <span class="language"><%= language %></span>
      <span class="star">
        <span class="octicon octicon-star"></span>
        <%= stargazers_count %>
      </span>
      <span class="fork">
        <span class="octicon octicon-git-branch"></span>
        <%= forks %>
      </div>
      <p class="updateText">
      Updated <%= moment(updated_at).format('ll') %>
      </p>
    </article>
  </script>

    <script src="js/bundle.js"></script>
  </body>
</html>
